@model EasyRegistration.Models.UserModel

@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome</h1>

<p><a asp-action="AddInfo">Add info to your profile</a></p>
<p><a asp-action="Details">View Details</a></p>
